{% extends "../base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Sign Up</h1>
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <div>{{ field|title }}: {{ error }}</div>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <br>
                {{ form.email }}
              </div>
              <div class="mb-3">
                <label class="form-label">First Name</label>
                <br>
                {{ form.first_name }}
              </div>
              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <br>
                {{ form.last_name }}
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <br>
                {{ form.password1 }}
              </div>
              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <br>
                {{ form.password2 }}
              </div>
              <div class="mb-3">
                <label class="form-label">Display Name</label>
                <br>
                {{ form.display_name }}
              </div>
              <div class="text-center">
                <button class="btn btn-primary" type="submit">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
