{% extends 'userbase.html' %}
{% load static %}
{% block bcontent %}
    <div class="container">
        <div class="card">
            <img src="{{ item.photo.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text"><strong>${{ item.price }}</strong></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="{% url 'home'%}" style="display: inline-block; float: right">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}