{% extends 'userbase.html' %}
{% block bcontent %}
    <div class="container mt-5">
        <div class="card d-flex flex-row">
            <img src="{{ item.photo.url }}" class="w-25 card-img-top" alt="..." style=
            'width:30%;'>
            <div class="card-body w-75">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text"><strong>${{ item.price }}</strong></p>
                <a href="{% url 'userhome'%}" style="display: inline-block; float: right">Back to Home</a>
                <a href="{% url 'add_to_cart' item_id=item.pk %}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
{% endblock %}