{% extends 'userbase.html' %}
{% load static %}
{% block bcontent %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-fluid-modify">          
	    <div class="row">
            {% for item in items %}
		        <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card card-vertical my-3">
                        <img src="{{ item.get_photo_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
				            <hr>
				            <a href="{% url 'add_to_cart' item_id=item.pk %}" class="btn btn-primary">Add to Cart</a>
			                <a class="btn btn-outline-success" href="{% url 'item_detail' pk=item.pk %}">View</a>
				            <h4 style="display: inline-block; float: right"><strong>{{item.price}}$</strong></h4>
			            </div>
		            </div>
                </div>
            {% endfor %}
	    </div>
    </div>
{% endblock%}