{% extends 'base.html' %}
{% load static %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="{% static "images/logo.png"%}",width=50px , height=50px alt="Responsive Website"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard' %}">
                        <button type="button" class="btn btn-primary">Home</button>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-primary">Resturants</button>
                    </a>
                    <ul class="dropdown-menu">
                      {% for resturant in resturants%}
                        <li>
                            <a class="dropdown-item" href="{% url 'resturantitems' rest_id=resturant.pk %}">{{resturant.name}}</a>
                        </li>
                        <li>
                            <a href="{% url 'resturant_update' pk=resturant.pk %}" class="btn btn-primary btn-sm update-button">Update</a>
                        </li>
                        <br>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-primary">Categories</button>
                    </a>
                    <ul class="dropdown-menu">
                      {% for category in categories %}
                      <li>
                        <a class="dropdown-item" href="{% url 'categoryitems' cg_id=category.pk %}">{{category.name}}</a>
                    </li>
                    <li>
                        <a href="{% url 'category_update' pk=category.pk %}" class="btn btn-primary btn-sm update-button">Update</a>
                    </li>
                    <br>
                      {% endfor %}
                    </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'resturant_create' %}">
                        <button type="button" class="btn btn-primary">Add Resturant</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'category_create' %}">
                        <button type="button" class="btn btn-primary">Add Category</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'item_create' %}">
                        <button type="button" class="btn btn-primary">Add Item</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'ordersdashboard' %}">
                        <button type="button" class="btn btn-primary">Orders</button>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">
                            <button type="button" class="btn btn-primary">Log In</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'signup' %}">
                            <button type="button" class="btn btn-primary">Sign Up</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block bcontent %}{% endblock%}
{% endblock%}
