{% extends 'base.html' %}
{% load static %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="{% static "images/logo.png"%}",width=50px , height=50px alt="Responsive Website"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'userhome' %}">
                        <button type="button" class="btn btn-primary">Home</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'myorders' %}">
                        <button type="button" class="btn btn-primary">My Orders</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'mycart' %}">
                        <button type="button" class="btn btn-primary">My Cart</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'popularitem' %}">
                        <button type="button" class="btn btn-primary">Popular Item</button>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">
                            <button type="button" class="btn btn-primary">Log In</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'signup' %}">
                            <button type="button" class="btn btn-primary">Sign Up</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block bcontent %}{% endblock %}
{% endblock%}
