{% extends "../base.html" %}
{% load static %}
{% block content %}
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </div>
  {% endif %}
  <h1>Log In </h1>
  {% if form.errors %}
  <div class="align-items-center my-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999;">
      <div class="d-flex p-2 flex-column">
          {% for field, errors in form.errors.items %}
              {% for error in errors %}
                  <div >
                      {{ field|title }}: {{ error }}
                  </div>
              {% endfor %}
          {% endfor %}
      </div>
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <br>
      {{form.username}}
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <br>
      {{form.password}}
    </div> 
    
    <button type="submit">Log In</button>
  </form>
{% endblock content %}